@font-face {
  font-family: poppinbold;
  src: url(../Fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppinRegular;
  src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}

html,
body {
  margin: 0;
  padding: 0;

}

section {
  background-image: url(../assets/default_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  width: 100%;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  /* position: relative; */

}

#questionHolder {
  border-radius: 20px;

}

.icon {
  Width: 140.17px;
  height: 120px;
  margin-left: 88px;
  margin-top: 60px;
}

.icon2 {
  Width: 226px;
  height: 61px;



}


.child {
  Width: 144px;
  height: 144px;
  margin-top: 34px;
  margin-left: 370px;
}


#question-section {

  margin-bottom: 20px;
  background-color: rgba(73, 58, 150, 0.10);
  color: #493A96;
  border-radius: 24px;
  font-family: poppinbold;
  padding: 5px;



}

#question {
  font-size: 18px !important;
}

#answer-section {
  margin-bottom: 30px;
  color: #616161
}

#emotion-section {
  text-align: center;
}

.custom-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#answer-section .form-check {
  margin-bottom: 20px;
}

.submit {
  background-color: #493A96;
  color: #FFFFFF;
  border-radius: 16px;
  font-size: 16px;
  font-family: poppinRegular;
  width: 202px;
  height: 56px;
  margin-left: 560px;
  margin-top: 20px;
  font-weight: bold;
}

.submit:hover {
  background-color: #493A96;
  color: #FFFFFF;
}

.number {
  z-index: 2;
  width: 38px;
  height: 38px;
  /* color: #493A96; */
  background-color: #493A96;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  position: absolute;
  margin-top: -16px;
  margin-left: -12px;
  border: 4px solid #FFFFFF;

}

.references {

  font-family: poppinRegular;
  font-weight: 400;

}


.references a {

  text-decoration: none;
  color: #000000;
  cursor: pointer;

}

/* Style the radio button when it is checked */
input[type="radio"]:checked {
  opacity: 1;
  background-color: #493A96;
}

.form-check-input {
  display: none;
}

/* Style the custom radio button */
.form-check-label::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #493A96;
  border-radius: 50%;
  margin-right: 10px;
}

/* Style the custom radio button when checked */
.form-check-input:checked+.form-check-label::before {
  background-color: #493A96;
  border-color: #493A96;
}

/* Style the custom radio button for correct answer */
.form-check-input.correct+.form-check-label::before {
  background-color: #36CC60;
  border-color: #36CC60;
}

/* Style the custom radio button for incorrect answer */
.form-check-input.incorrect+.form-check-label::before {
  background-color: #F14C4C;
  border-color: #F14C4C;
}

.footer {

  padding: 10px;
  margin-top: 20px;
  
  
}



/* Media queries */

/* mobile */
@media (max-width: 767px) {

  .icon,
  .child {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #submit {
    margin-left: 0;
  }

  .references {
    margin-top: 10px;
   
  }

  .container-fluid {
    flex-direction: column-reverse;
  }

}

/* medium screens */
@media (min-width: 768px) and (max-width: 991px) {

  .icon,
  .child {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #submit {
    margin-left: 0;


  }
  .container {
    padding-bottom: 50px;
  }

  .footer {

    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
  }


}
/* large screens */
@media (min-width: 1200px) {
  /* Add styles for large screens if needed */
}
